*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(87, 186, 220);
    height:100px;
    color:white;
    text-align: center;
}

p{
    color:black;
    font-size: 10px;
}

h4{
    color:gray;
}

.speaker-card{
    display:flex;
    flex-direction: column;
    gap: 5px;
    width:280px;
    height:380px;
    padding:30px;
    text-align: center;
    box-shadow: 2px 1px 10px rgb(201, 200, 200);
    border-radius: 5px;
}

img{
   width:100px;
   height:100px;
   align-self: center;
   border-radius: 60px;
}

.speaker-job{
    font-weight:normal ;
    font-size: 13px;
}

.speaker-company{
    color:black;
    font-weight:normal;
    font-size:10px;
}

.speaker-expertise{
    color:blue;
    font-weight:bold;
    font-size: 9px;
    margin-bottom: 8px;
}

#line{
    opacity: 20%;
}
hr{
    margin-bottom: 15px;

}
.speaker-previous{
    margin-bottom: 5px;
    color:blue;
    font-weight:bold;
    font-size: 9px;
}

span{
    color:gray;
    font-weight:0;
}

.speaker-footer{
    word-wrap: break-word;    
}

a{
    text-decoration: none;
    font-size: 12px;
}



.grid{
           
            padding: 40px 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
    
}